.app-ctn {
    height: 100vh;
    width: 100vw;
    background-color: rgb(66, 66, 66);
    display: flex;
    color: rgb(205, 205, 205);
}

.sidebar-ctn {
    height: 100vh;
    width: 15%;
    background-color: rgb(78, 78, 78);
}

.msg-ctn {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages-ctn {
    height: 90vh;
    width: 100%;
}

.message-input-ctn {
    height: 10vh;
    width: 100%;
}

.user-list-ctn {
    height: 100vh;
    width: 15%;
    background-color: rgb(78, 78, 78);
}

