.nav-menu-ctn {
    height: 130px;
    width: 243px;
    top: 50px;
    right: 0px;
    position: absolute;
    background-color: white;
    cursor: default;
    box-shadow: 0 2px 16px rgba(0,0,0,0.12);
    border-radius: 10px;
    padding: 12px 0px;
}

.nav-menu-item {
    padding: 12px 16px;
}

.nav-menu-item:hover {
    background-color: #dddddd35;
}